<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title><%= bill.billname %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= bill.billname %></h1>

    <a href="/users/<%= user._id %>/bills/<%= bill._id %>/edit">
      Edit This Bill
    </a>
     <form
      action="/users/<%= user._id %>/bills/<%= bill._id %>?_method=DELETE"
      method="POST"
    >
      <br><button type="submit">Delete This Bill</button>
    </form>
  </body>
</html>
